*.a
*.gmo
*.la
*.lo
*.o
.deps
.libs
INSTALL
Makefile
Makefile.in
Makefile.org
aclocal.m4
autom4te.cache/
build-stamp
compile
config.guess
config.h
config.h.in
config.h.org
config.log
config.status
config.sub
configure
configure-stamp
depcomp
install
install-sh
libtool
ltmain.sh
missing
stamp-*

src/Makefile.in
src/filteropt/Makefile.in
src/memory/Makefile.in
src/pagemanager/Makefile.in
src/raster/Makefile.in
src/raster/blendSource/Makefile.in
src/epson_inkjet_printer_filter

*/lib*/*.so
