#!/usr/bin/make -f

export DEB_LDFLAGS_MAINT_APPEND = -Wl,--no-as-needed

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
SOURCE_NAME    = $(shell dpkg-parsechangelog | sed -n 's/^Source: \(.*\)/\1/ p')

# We will generate .docs and .install files for each driver we are
# packaging, as well as include the right binaries for 32 and 64 bit.
DRIVER_NAMES = l100l200 201207w 201215w 201301w 201310w 201401w
DRIVER_PKG_FILES = \
	debian/epson-inkjet-printer.docs \
	debian/epson-inkjet-printer.install

%:
	dh $@ --with autoreconf

debian/%:: debian/%.in
	@set -eux
	filename=$(basename $@) ; \
	extension=$(suffix $@) ; \
	for driver in $(DRIVER_NAMES) ; do \
	  rm -f $$@ ; \
	  sed "s/@DRIVER_NAME@/$${driver}/g" $< > $${filename}-$${driver}$${extension} ; \
	done

override_dh_install: $(DRIVER_PKG_FILES)
	@set -eux
	dh_install

	# Get the architecture specific files in their right places
ifeq (i386,$(DEB_HOST_ARCH))
	for driver in $(DRIVER_NAMES) ; do \
	  mkdir -p $(CURDIR)/debian/$(SOURCE_NAME)-$${driver}/usr/lib/epson-inkjet-printer/ ; \
	  install -c -m 644 $${driver}/lib/libEpson_* \
	    $(CURDIR)/debian/$(SOURCE_NAME)-$${driver}/usr/lib/epson-inkjet-printer/ ; \
	done;
endif
ifeq (amd64,$(DEB_HOST_ARCH))
	for driver in $(DRIVER_NAMES) ; do \
	  mkdir -p $(CURDIR)/debian/$(SOURCE_NAME)-$${driver}/usr/lib/epson-inkjet-printer/ ; \
	  install -c -m 644 $${driver}/lib64/libEpson_* \
	    $(CURDIR)/debian/$(SOURCE_NAME)-$${driver}/usr/lib/epson-inkjet-printer/ ; \
	done;
endif
