#!/usr/bin/make -f

export DEB_LDFLAGS_MAINT_APPEND = -Wl,--no-as-needed

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
SOURCE_NAME    = $(shell dpkg-parsechangelog | sed -n 's/^Source: \(.*\)/\1/ p')

DRIVER_NAMES = l100l200 201401w

%:
	dh $@ --with autoreconf

override_dh_install:
	@set -eux
	dh_install

	# Get the architecture specific files in their right places
ifeq (i386,$(DEB_HOST_ARCH))
	for driver in $(DRIVER_NAMES) ; do \
	  mkdir -p $(CURDIR)/debian/$(SOURCE_NAME)-$${driver}/usr/lib/epson-inkjet-printer/ ; \
	  install -c -m 644 $${driver}/lib/libEpson_* \
	    $(CURDIR)/debian/$(SOURCE_NAME)-$${driver}/usr/lib/epson-inkjet-printer/ ; \
	done;
endif
ifeq (amd64,$(DEB_HOST_ARCH))
	for driver in $(DRIVER_NAMES) ; do \
	  mkdir -p $(CURDIR)/debian/$(SOURCE_NAME)-$${driver}/usr/lib/epson-inkjet-printer/ ; \
	  install -c -m 644 $${driver}/lib64/libEpson_* \
	    $(CURDIR)/debian/$(SOURCE_NAME)-$${driver}/usr/lib/epson-inkjet-printer/ ; \
	done;
endif
